<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand" href="#" id="navbar-title"><img src="assets/images/ticket.png" width="30px" id="imgTop" class="pull-left"><b>MyTicket票券網</b></a>
      </div>
      <ul class="nav navbar-nav">
          <li><a routerLink="/concert" style="background-color:#C63300;border-color: #C63300;">演唱會門票</a></li>
          <li><a href="#">戲劇活動門票</a></li>
          <li><a href="#">音樂節門票</a></li>
          <li><a href="#">體育比賽門票</a></li>
          <li><a routerLink="/order">會員專區</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
             <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span><b> 會員登入</b></a></li> -->
             <li><a href="#"><span class="glyphicon glyphicon-user"></span><b> 琪琪 您好</b></a></li>
             <li><a href="#"><b>登出</b></a></li>
      </ul>

   </div>
  </nav>
  </header>
