header{
	background-color: #F8F8F8;
	height: 50px;
}

header ul{
	margin: 0;
}

header a,
header li{
	color:#777;
	font-weight: bold
}

.zero{
	background-image: url(../images/index/lightBox.jpg);
	height: 450px;
}


#imgTop{
	margin-right: 10px;
	padding-left: 0;
}



#navbar-title{
	color: white;
	font-family:Microsoft JhengHei;
}

.navbar-default {
  background-color: #FF5511;
  border-color: #FF5511;
  border-radius: 0;
}


.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:white;
  	background-color:#C63300;
}


.title{
	padding: 30px;
}

.title_content{
	font-family:Microsoft JhengHei;
	font-size:23px;
	padding: 30px;
}


.input-group{
	font-size:30px;
}

div.gallery {
    margin: 20px;
    border: 2px solid #ccc;
    float: left;
    border-radius: 15px;
}

div.gallery:hover {
    border: 2px solid #777;
}

.desc{
	padding: 15px;
}

.title_image{
	border-radius: 15px;
}

div .second{
	margin: 15px;
    padding-top: 10px;
	padding-bottom: 10px;
	/**background-color: #eee;**/
}
	  

div .big_title{
	font-family:Microsoft JhengHei;
	color: purple;
}



.team1{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #eee;
}

.teamInside{
	padding: 5px;
	margin: 5px;
}

footer{
	background-color: black;
	color:lightblue;
	margin-top: 3em;
}

footer h5,
footer img{
	margin-top: 5em;
	font-weight: bold;
}

footer address{
	margin-top:5em;
	margin-bottom: 5em;
	color: #eee;
}

footer ul{
	margin-bottom: 5em;
}

footer address strong{
	color: lightblue;
	display: block;
	padding-bottom: 0.62em
}

footer a{
	font-weight: 300;
	color: white;
}

footer a : hover{
	text-decoration: none;
	color: #FFF;
}


