<div class="container">
  <!--第一列===================================================================-->

     <div class="col-xs-12 col-sm-12">
       <div class="search">
             <br><br><br><br>
             <label class="control-label" for="keyWord">
             <span class=" glyphicon glyphicon-search"></span> 依關鍵字:&nbsp;
             </label>
             <input class="search_input" type="text" name="keyWord" id="keyWord" value= "" placeholder="輸入表演關鍵字" width= "300px">
             <a href="#" class="btn btn-success btn-lg" role="button"><b>查詢</b></a>
       </div>
     </div>

